body {
  text-align: center;
font-family: Helvetica;
font-size: 14px;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;

}

footer{
  text-align: left;
  background-color: dimgray;
  color: white;
}

.top {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.links {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.bottomlinks {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.prose {
  font-family: Helvetica;
  font-size: 14px;
}
